/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #17153B;
    background-color: #a488b3;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  h1#name {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #2E236C;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  /* Links section */
  #links {
    background-color: #433D8B;
    padding: 20px;
    margin: 0 50px 0 50px;
    text-align: center;
  }
  
  #sectionTitle{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
  }
  
  #links a {
    display: inline-block;
    color: #C8ACD6;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  #links a:hover {
    color: #06060e;
  }
  
  /* Personal info section */
  .personalInfo {
    margin: 50px;
    padding: 70px;
    background-color: #433D8B;

  }
  
  .personalInfo #blurb {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .personalInfo #quote {
    font-style: italic;
    color: #2E236C;
    margin-bottom: 30px;
  }
  .personalInfo #quoteAuthor{
    margin: auto;
    text-align: right;
    padding: 0 20px;
  }
  
  /* Hobbies section */
  #hobbies {
    background-color: #433D8B;
    color: #C8ACD6;
    padding: 40px;
  }
  
  #hobbies ul {
    list-style-type: none;
    padding: 0;
  }
  
  #hobbies li {
    margin-bottom: 10px;
  }
  
  /* Favorite music section */
  #listMusic {
    padding: 40px;
  }
  
  #listMusic ol {
    list-style-type: none;
    padding: 0;
  }
  
  #listMusic li {
    margin-bottom: 20px;
  }
  
  #listMusic h3 {
    color: #2E236C;
    margin-bottom: 10px;
  }
  
  /* Movies table section */
  #movies {
    padding: 40px;
  }
  
  #tableMovies {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tableMovies th, #tableMovies td {
    padding: 10px;
    border-bottom: 1px solid #17153B;
  }
  
  #tableMovies th {
    background-color: #433D8B;
    color: #C8ACD6;
  }
  
  /* Images section */
  #images {
    padding: 40px;
  }
  
  #image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }